<section id="branding-message" class="row">
    <div class="span4 offset2">
        <h3>Creating surveys haven't been easier before.</h3>
        <h5>Analize, reuse, organize and archive.</h5><br>
        <a href="/front/sign_up" class="btn btn-large btn-success">Sign up for free</a>
    </div>
    <div class="span4">
        <%= image_tag("front/home-survey.jpeg", :width => "250", :alt => "Show Group" ) %>
    </div>
</section>

<section id="branding-survey-flow" class="row">
    <div class="span4">
        <%= image_tag("front/create-home.png") %>
        <p>Create a survey.</p>
    </div>
    <div class="span4">
        <%= image_tag("front/distribute-home.png") %>
        <p>Distribute it.</p>
    </div>
    <div class="span4">
        <%= image_tag("front/analize-home.png")  %>
        <p>Analize your data.</p>
    </div>
</section>
