<section id="sign-up-wrapper">
    <form action="" class="">
        <legend><h3>Create your account.</h3></legend>
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Email ..."  autocomplete="off">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password ..."  autocomplete="off">
        <br><br><a href="/panel/survey" class="btn btn-info">Sign Up</a>
    </form>
</section>
