<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3>Pie Chart</h3>
</div>
<div class="modal-body">
	<div id="pie_chart"></div>
	<%answers_ids=Array.new%>
	<%answers_text=Array.new%>
	<%answers_quantity=Array.new%>
	<%list_solutions=Solution.where(:question_id=>question.id)%>
	<%list_solutions.each do |solution|
			two_id=solution.answer.split("@")
			two_id.each do |id|
				answers_ids << id.to_i
				answers_text << Answer.find(id.to_i).answer
			end
		end
	%>
	<%answers_text=answers_text.uniq%>
	<%ans_ids=answers_ids.uniq%>
	<%ans_ids.each do |id_uniq|
			c=0
			answers_ids.each do |id|
				if id_uniq==id
					c+=1
				end
			end
			answers_quantity << c
		end
	%>
	<script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          <%answers_text.each_with_index do |t,i|%>
          ['<%=answers_text[i]%>',  <%=answers_quantity[i]%>],
          <%end%>
        ]);

        // Set chart options
        var options = {'title':"<%=question.question%>",
                       'width':510,
                       'height':350};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
        chart.draw(data, options);
      }
    </script>
</div>
<div class="modal-footer">
	<a href="#" class="btn btn-success" data-dismiss="modal">OK</a>
</div>