<% list_access = Access.where(:parent_id=>22)%>

<% title t('panel.matches_management') %>
<%= render :partial=>"layouts/messages" %>
<h1><%= t('panel.match_welcome')%></h1>
<%= render :partial=>"layouts/panel", :locals=>{:list_access=>list_access}%>
