<%= nested_form_for(question,:url=>add_answers_match_management_answer_index_path+"&id=#{question.id}",:method=>'put',:html=>{:id=>"form_answers"}) do |f| %>
	<div class="modal-body">
		<%if question.match.match_type_id==2%>
			<p>Select the correct answer</p>
		<%end%>
		<%int=0%>
		<% f.fields_for :answers do |builder| %>
			<%= render "/match_management/answer/add_field_one_answer", :f => builder , :int=>int, :q=>question%>
			<script type="text/javascript">
				$("input:checkbox.chkclass").click(function(){
					$("input:checkbox.chkclass").not($(this)).removeAttr("checked");
					$(this).attr("checked", $(this).attr("checked"));
				});
			</script>
			<%int+=1%>
		<% end %>
		<%= f.link_to_add "Add answer", :answers %>
	</div>

	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" >Close</button>
		<%= submit_tag(t('buttons.save'), :disable_with => t('buttons.processing'), :class=>"btn btn-success")%>
	</div>

<%end%>
