<% title t('.title')+' '+ @answer.answer %>
<%= render :partial=>"layouts/messages" %>

<h2><%=yield :title%></h2>
<%= render :partial => "form" %>

<%= render :partial=>"layouts/validation",:locals=>{:form_id=>'form_answer'} %>
