Hi !
You have new deal for <a href="surveyhumans.com">SurveyHumans.com</a>
In order to use the deal follow the next link:
<a href="<%= @deal_user.validation_code %>">
    <%= @deal_user.validation_code %>
</a>
