<table class="table table-condensed">
	<thead>
		<tr>
			<td>#</td>
			<td>Answers</td>
		</tr>
	</thead>
	<tbody>
		<%Answer.get_answers_by_question_id(question.id).each_with_index do |answer, index|%>
			<tr>
				<td><small><%=index+1%></small></td>
				<td><%=answer.answer%></td>
			</tr>
		<%end%>
	</tbody>
		
</table>