<section id="panel">
    <legend><h1>Subscribe</h1></legend>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <th>Plan</th>
            <td>Basic</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>$15 / Month</td>
        </tr>
        </tbody>
    </table>

    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="LD6MCA54L84VQ">
        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</section>