<% list_access = Access.where(:parent_id=>58)%>

<% title t('panel.organization_management') %>
<%= render :partial=>"layouts/messages" %>
<h1><%= t('panel.organization_welcome')%></h1>
<%= render :partial=>"layouts/panel", :locals=>{:list_access=>list_access}%>
