<footer class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div id="main-navbar-bottom-container" class="container">
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Discover</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <p class="pull-right">© 2011-2012 Survey Humane.</p>
        </div>
    </div>
</footer>