<div class="answer-format-content">
	<h6>What time you were born?</h6>
	<br/>
	<p>Date or time: <input type="text" id="datepicker" style="width:127px"/></p>
	<script>
    $(function() {
        $( "#datepicker" ).datepicker();
    });
    </script>
</div>
