<div class="answer-format-content">
<h6>Your music genres</h6>
<table>
<tr>
	<td></td>
	<td>Like</td>
	<td>Not like</td>
</tr>
<tr>
	<td>Rock</td>
	<td align="center"><label class="radio"><input type="radio" name="options1"></label></label></td>
	<td align="center"><label class="radio"><input type="radio" name="options1"></label></label></td>
</tr>
<tr>
	<td>Reggae</td>
	<td align="center"><label class="radio"><input type="radio" name="options2"></label></label></td>
	<td align="center"><label class="radio"><input type="radio" name="options2"></label></label></td>
</tr>
<tr>
	<td>Pop</td>
	<td align="center"><label class="radio"><input type="radio" name="options3"></label></label></td>
	<td align="center"><label class="radio"><input type="radio" name="options3"></label></label></td>
</tr>
</table>
</div>