<div class="answer-format-content">
<h6>Most important while buying</h6>
<table>
<tr>
	<td></td>
	<td>Price</td>
	<td>Quality</td>
</tr>
<tr>
	<td>Laptops</td>
	<td align="center"><label class="checkbox inline"><input type="checkbox"></label></td>
	<td align="center"><label class="checkbox inline"><input type="checkbox"></label></td>
</tr>
<tr>
	<td>Apps</td>
	<td align="center"><label class="checkbox inline"><input type="checkbox"></label></td>
	<td align="center"><label class="checkbox inline"><input type="checkbox"></label></td>
</tr>
<tr>
	<td>Phones</td>
	<td align="center"><label class="checkbox inline"><input type="checkbox"></label></td>
	<td align="center"><label class="checkbox inline"><input type="checkbox"></label></td>
</tr>
</table>
</div>