<div class="answer-format-content">
<h6>How are you today?</h6>
<label class="checkbox"><input type="checkbox" value="">Sad </label>
<label class="checkbox"><input type="checkbox" value="">Happy </label>
<label class="checkbox"><input type="checkbox" value="">Excited </label>
<label class="checkbox"><input type="checkbox" value="">Tired </label>
</div>