<div class="answer-format-content">
<h6>Is this app easy to use?</h6>
<label class="radio"><input type="radio" name="optionsRadios"> No </label>
<label class="radio"><input type="radio" name="optionsRadios"> Yes </label>
<label class="radio"><input type="radio" name="optionsRadios"> Maybe </label>
</div>