<div class="answer-format-content">
	<h6>Rank your customer service.</h6>
	<br/><br/>
	<div class="slider"></div>
</div>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<script>
$(function() {
    $( ".slider" ).slider();
});
</script>