<section class="icons">
  <ul id="security-panel-ul">
    <%list_access.each do |access|%>
    <%if current_user.has_access access.id%>
      <li>    
        <%= link_to image_tag("panel/#{access.id}.png",:border=>0,:size=>"48x48") + "<span>#{t('panel.'+access.name)}</span>".html_safe,{:controller=>access.controller, :action=>access.action}%>        
      </li>
    <%end%>
    <%end%>
  </ul>
</section>
